*{
  padding: 0;
  margin: 0;
  font-family:sans-serif;
  background-color: #ccc;
  box-sizing: border-box;
}
.porcentagem{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  font-size: 20px;
}
.metarealizado{
  font-size: 13px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.progress{
  width: 400px;
  height: 22px;
  background-color: #aaa;
  box-shadow: 1px 1px 4px black;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-top: 15px;
  position: relative;
  font-size: 13px;
  font-weight: bold;
}
.meta-diaria .progress--fill{
  width: 8.77%;
  height: 100%;
  background-color: #ff6961;
}
.progress--text{
  position:absolute;
  top: 13%;
  right: 45%;
  left: 45%;
  background-color: transparent;
}
.meta-acumulada .progress--fill{
  width: 48.43%;
  height: 100%;
  background-color: #ff6961;
}
.meta-mensal .progress--fill{
  width: 18.79%;
  height: 100%;
  background-color: #ff6961;
}
.metarealizado-meta, .metarealizado-realizado{
  color: #666464;
}









.metafiado{
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}
.metafiado-fiado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  border: 15px solid white;
}
.metafiado-fiado-tabela{
  border-collapse: collapse;
  font-size: 12px;
}
.spanmetafiado{
  background-color: #aaa;
  font-weight: bold;
  font-size: 20px;
  width: 500px;
  text-align: center;
  padding: 13px 0px;
}
.metafiado-fiado-tabelatd{
  background-color: white;
  padding: 8px;
  border: 0.1px solid #666464;
  font-weight: bold;
  color: #666464;
  text-align: right;
  font-size: 14px;
}
.metafiado-fiado-tabelath {
  padding: 8px;
  border: 0.1px solid #666464;
  background-color: #ccc;
  font-size: 14px;
}
.metafiado-meta-titulo{
  font-size: 20px;
}
.metafiado-meta-tabela, .metafiado-meta-tabela th, .metafiado-meta-tabela td{
  border: 1px solid #666464;
  background-color: white;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}
.metafiado-meta-tabela{
  margin-top: 7px;
}

















.projecao{
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.projecao-projecaotitulo{
  font-size: 20px;
}
.projecao-projecaotabela, .projecao-projecaotabela th, .projecao-projecaotabela td{
  border: 1px solid #666464;
  background-color: white;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
}
.projecao-projecaotabela{
  margin-top: 7px;
}


hr{
  margin: 50px;
  background-color: #aaa;
  height: 3px;
}


.classificacao{
  margin-left: 50px;
}
.classificacao-emotions{
  display: flex;
}
.classificacao-emotions div{
  width: 85px;
  height: 10px;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  color: white;
  margin-right: 15px;
}
.classificacao-emotions div img{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}